<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
    <script th:src="@{script.js}"></script>
    <script type="text/javascript">
        function codeAddress() {
            document.querySelector('#token').value = window.localStorage.getItem("token")
        }
        window.onload = codeAddress;
    </script>
    <title>Entrant</title>
</head>
<body>
    <header class="header">
        <button class="ui-button" id="information" onclick="onInfoClick()">Информация</button>
        <button class="ui-button" id="registry" onclick="onRegistryClick()">Реестр</button>
        <form action="/user" method="post">
            <input type="hidden" id="token" name="token" value="">
            <button type="submit" class="ui-button" id="personal_account">Личный кабинет</button>
        </form>
    </header>
    <section class="section">
        <h3>Направления подготовки</h3>
        <div class="info">
        <p><em><span style="text-decoration: underline;"><a name="archer01"></a>Информационные системы и технологии</span></em></p>
        <p><strong>Профили:</strong></p>
        <ol>
            <li>Информационные системы в телекоммуникациях</li>
            <li>Информационные системы и технологии в управлении предприятием</li>
            <li>Защита информации в компьютерных системах</li>
            <li>Информационные системы и сетевые технологии</li>
            <li>Математическое обеспечение информационных систем</li>
            <li>Программное обеспечение информационных систем</li>
        </ol>
        <p><strong>Форма обучения: </strong>очная (4 года) &#8212; бюджет, договор <strong>Стоимость обучения по договору:</strong> 124 500 р. в год Для поступления на это направление необходимо сдать ЕГЭ по предметам: <span style="line-height: 1.5em;">математика (профильный), физика (или информатика), русский язык</span><span style="line-height: 1.5em;">.</span></p>
        <hr />
        <p><em><span style="text-decoration: underline;"><a name="archer02"></a>Программная инженерия</span></em></p>
        <p><strong>Профили:</strong></p>
        <ol>
            <li>Разработка программного обеспечения</li>
            <li>Безопасность программного обеспечения</li>
            <li>Управление IT-проектами</li>
        </ol>
        <p><strong>Форма обучения:</strong> очная (4 года) &#8212; бюджет, договор <strong>Стоимость обучения по договору:</strong> 124 500 р. в год Для поступления на это направление необходимо сдать ЕГЭ по предметам: <span style="line-height: 1.5em;">математика (профильный), физика (или информатика), русский язык</span><span style="line-height: 1.5em;">.</span></p>
        <hr />
        <p><span style="text-decoration: underline;"><em><a name="archer03"></a>Математика и компьютерные науки</em></span></p>
        <p><strong>Профили:</strong></p>
        <ol>
            <li>Распределенные системы и искусственный интеллект</li>
            <li>Квантовая теория информации</li>
        </ol>
        <p><strong>Форма обучения: </strong>очная (4 года) &#8212; бюджет, договор <strong>Стоимость обучения по договору:</strong> 107 500 р. Для поступления на это направление необходимо сдать ЕГЭ по предметам: <span style="line-height: 1.5em;">математика (профильный),  физика (или информатика), русский язык</span><span style="line-height: 1.5em;">.</span></p>
        <hr />
        <p><span style="text-decoration: underline;"><em><a name="archer04"></a>Прикладная информатика</em></span></p>
        <p><strong>Профили:</strong></p>
        <ol>
            <li>Прикладная информатика в экономике</li>
            <li>Прикладная информатика в государственном и муниципальном управлении</li>
        </ol>
        <p><strong>Форма обучения:</strong> очная (4 года) &#8212; бюджет, договор <strong>Стоимость обучения по договору:</strong> 124 500 р. Для поступления на это направление необходимо сдать ЕГЭ по предметам: <span style="line-height: 1.5em;">математика (профильный),  физика (или информатика), русский язык</span><span style="line-height: 1.5em;">.</span></p>
        <hr />
        <p><i><a id="#achor06"></a><span style="text-decoration: underline;">Информационная безопасность</span></i></p>
        <p><strong>Профили:</strong></p>
        <ol>
            <li>Безопасность компьютерных систем</li>
        </ol>
        <p><strong>Форма обучения:</strong> очная (4 года) &#8212; договор <strong>Стоимость обучения по договору:</strong> 124 500 р. Для поступления на это направление необходимо сдать четыре ЕГЭ по предметам: математика (профильный),  физика, <span style="line-height: 1.5em;">информатика</span>, русский язык.</p>
        <hr />
        </div>
    </section>
    <footer class="footer">
        Широков Илья
    </footer>
</body>
</html>