<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
    <script th:src="@{script.js}"></script>
    <title>Entrant</title>
</head>
<body>
<header class="header">
    <button class="ui-button" id="information" onclick="onInfoClick()">Информация</button>
    <button class="ui-button" id="registry" onclick="onRegistryClick()">Реестр</button>
    <form action="/user" method="post">
        <input type="hidden" id="token" name="token" value="">
        <button type="submit" class="ui-button" id="personal_account">Личный кабинет</button>
    </form>
</header>
<section class="section">
    <form>
        <table>
            <tr>
                <td>Email: </td>
                <td><input class="field" type="text" name="email" id="email"></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input class="field" type="password" name="password" id="password"></td>
            </tr>
        </table>
        <button class="ui-button" type="button" onclick="onLogin()">Войти</button>
        <button class="ui-button" type="button" onclick="onSingUp()">Зарегистрироваться</button>
    </form>
</section>
<footer class="footer">
    Широков Илья
</footer>
</body>
</html>