<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
    <script th:src="@{script.js}"></script>
    <title>Entrant</title>
</head>
<body>
<header class="header">
    <button class="ui-button" id="information" onclick="onInfoClick()">Информация</button>
    <button class="ui-button" id="registry" onclick="onRegistryClick()">Реестр</button>
    <form action="/user" method="post">
        <input type="hidden" id="token" name="token" value="">
        <button type="submit" class="ui-button" id="personal_account">Личный кабинет</button>
    </form>
</header>
<section class="section">
    <div>Name: [[${entrant.getName()}]]</div><br/>
    <div>Email: [[${entrant.getEmail()}]]</div><br/>

    <form action="/addapplication" method="post">
        <select class="list" id="directions" name="direction">
            <option th:each="direction : ${directions}" th:value="${direction.getId()}" th:text="${direction.getName()}"></option>
        </select> <br/>
        <input type="hidden" name="entrant" th:value="${entrant.getToken()}" >
        <input class="ui-button" type="submit" text="Отправить заявление">
    </form>


    <button class="ui-button" type="button" onclick="onLogout()">Выйти из аккаунта</button>
</section>
<footer class="footer">
    Широков Илья
</footer>
</body>
</html>